name: Automatic test on Push
on: push

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt      
      - name: Run on BG
        run: |
          python p0/manage.py runserver 0.0.0.0:8888 &
          echo $! > app.pid
      - uses: matt-ball/newman-action@master
        with:
          collection: test.postman_collection
          environment: test.postman_environment